<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeProfile()" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Profile</h1>
        <button class="button button-clear" ng-click="logout()"><i class="ion-power" style="color: indianred!important; font-size: 30px"></i></button>
    </ion-header-bar>	

    <ion-content>
        <div class="card bar-home" style="width: 100%!important; padding: 0!important; margin: 0!important;background-color: transparent; border-radius: 0!important;">
            <div class="item item-body" style="text-align: center!important; background-color: transparent!important">
                <img src="img/fconnect.png" height="100" width="100"> 
                <h3 id="Username">{{user.name}}</h3>
                <h3 id="PhoneNumber">{{user.phone}}</h3>
            </div>
        </div>
        <div class=" list card">
            <h2 class="item" style="text-align:center">Today's Data<h2>
            <div class="row item" style=" padding-left: 0;padding-right: 0;">
                <div class="col col-50">
                    <div style="text-align: center!important; background-color: transparent!important;">
                        <h3 style="text-align: center!important;">No. of Deliveries</h3>
                        <h3 style="text-align: center!important;">{{completedLength}}</h3>
                    </div>  
                </div>
                <div class="col col-50">
                     <div  style="text-align: center!important; background-color: transparent!important">
                        <h3 style="text-align: center!important;">COD Collection</h3>
                        <h3 style="text-align: center!important;">₹ {{collectedAmount}}</h3>
                    </div>
               </div>
            </div> 
        </div>
        <div class=" list card">
            <h2 class="item" style="text-align:center">Monthly Data<h2>
                <div style="text-align: center!important; background-color: transparent!important;">
                    <h4 style="text-align: center!important;">No. of Deliveries : {{completedMonth}}</h4>
                </div>  
        </div>         
    </ion-content>		
</ion-modal-view>    



