<div class="list">
	<label class="item item-input">
		<span class="input-label" style="width:60% ">No. of Bottles</span>
		<div style="width: 30%;">
			<input type="number" min="0" max="999" ng-model="delivery.noOfBottles" ng-value="{{delivery.noOfBottles}}" style="text-align: center!important; border: 2px solid grey!important;">
		</div>
	</label>
	<label class="item item-input">
		<span class="input-label" style="width:60%">Return Cans</span>
			<div style="width: 30%;">
			<input type="number" min="0" max="999" ng-model="delivery.returnBottles" ng-value="{{delivery.returnBottles}}" style="text-align: center!important; border: 2px solid grey!important;">
		</div>
	</label>
	<ion-checkbox ng-model="delivery.selected" ng-true-value="true" ng-false-value="false">Delivered</ion-checkbox> 
	<ion-checkbox ng-model="delivery.selected" ng-true-value="false" ng-false-value="true">Not Delivered</ion-checkbox>
</div>	