<ion-view class="custom">
    <h6 class="wc-msg">WELCOME TO EAZYDELIVERY</h6>
    <div class="logo">
        <img src="img/icon.png" width="200">
    </div>
    <div class="card" style="position: absolute; bottom: 0px;width:95%; background-color: rgba(255, 255, 255, 0.5);">
        <div class="item item-text-wrap" style="background-color: transparent!important;">
            <label class="item-input item-floating-label">
                <span class="input-label" style="display: inline!important">Mobile Number</span>
                <input type="tel" placeholder="Mobile Number" name="phoneNumber" ng-model="login.phoneNumber" ng-maxlength="10" ng-pattern="/^[0-9]{10}$/" required>
            </label>
           </div>
        <div class="item item-text-wrap" style="background-color: transparent!important;">
            <div class="row">
                <div class="col col-80">
                    <label class="item-input item-floating-label">
                        <span class="input-label" style="display: inline!important">Enter Password</span>
                        <input type="text" placeholder="Enter Password" name="otp" ng-model="login.password" required>
                    </label>
                </div>
                </div>
                <li class="item item-checkbox" style="z-index:-1!important;pointer-events: initial !important;font-size: 14px;border-bottom: 0!important;background-color: transparent!important;border-color: rgb(44, 62, 80);">
                <div class="checkbox" style="z-index:-1!important;">
                    <input type="checkbox" ng-model="login.terms">
                </div>
                I agree to the
                <a href="#" onclick="window.open('http://www.eazybottle.com/', '_system', 'location=no'); return false;" style="z-index:99!important">terms and conditions</a>
            </li>
           <small style="color: indianred; text-align: center!important">{{errMsg}}</small>
        </div>

        <div class="item item-divider bar-home" style="text-align: center;" ng-click="loginUser()">
            <button style="background-color: transparent;border: 0;"><i class="ion-android-arrow-forward"></i></button>
        </div>
    </div>
</ion-view>