<ion-modal-view>
    <ion-header-bar align-title="left" class="bar-home-footer">
        <div class="buttons">
            <button class="button" ng-click="closeModal(1)" style="background: transparent; border: 0"><i class="ion-android-arrow-back" style="color: aliceblue!important; font-size: 30px"></i></button>
        </div>
        <h1 class="title" style="color: aliceblue!important;">Delivery Detail</h1>
    </ion-header-bar>
    <ion-content class="scroll-content ionic-scroll">
        <div class="card" style="padding-bottom: 0px!important">
			<div class="item item-divider custom-divider">
				<h2>Delivery No. EZD-{{deliveryInfo.id}}</h2>
				<small>Delivery Type {{deliveryInfo.deliveryType}}</small> <br>
				<!--<p ng-if="deliveryInfo.status === 'PLACED'">{{deliveryInfo.noOfBotlles}} Bottle under Transit</p> <br>
				<p ng-if="deliveryInfo.deliveryType === 'QUICK'">Delivery Time: Within 30mins</p>
				<p ng-if="deliveryInfo.deliveryType === 'NORMAL'">Delivery Time: Within 2hours</p>-->
				<p>Delivery Time {{deliveryInfo.deliveryTime}}</p>
				<small>Delivery Status {{deliveryInfo.status}}</small> <br>
				<small style="position:absolute; top:2px; right:4px; color:lightgray">{{deliveryInfo.lastModified}}</small>
			</div>
			<div class="item item-text-wrap">
				<!--ng-if="delivery.status === 'PLACED'"-->
				<h4> Delivery Address </h4>
				<pre>{{deliveryInfo.address.streetAddress}}</pre>
				<pre>{{deliveryInfo.address.locality}}</pre>
				<pre>{{deliveryInfo.address.phone}}</pre>
			</div>
			<div class="popup-buttons" ng-if="deliveryInfo.status === 'PLACED'">
				<button class="button button-later" ng-click="cancel(deliveryInfo.id)">Cancel</button>
				<button class="button button-get-now" ng-click="track()">Track</button>
			</div>
		</div>
    </ion-content>
</ion-modal-view>