<ion-view view-title="Completed">
	<ion-nav-bar class="bar-stable bar-home">
	</ion-nav-bar>
	<ion-content>
	<div class="card" >
			<div class="row row-centered" style="text-align: center">
				<div class="col col-right-border" ng-click="showDelivered()" style="{{deliveredColor}}">Delivered</div>
				<div class="col col-left-border" ng-click="showCancelled()" style="{{cancelledColor}}">Cancelled</div>
			</div>
		</div>

		<div ng-if="showDeliveredCard" class="card" ng-repeat="delivery in deliveries" ng-click="userDetail(delivery)">
			<div class="item item-text-wrap">
				<h2>{{delivery.customer.firstname}}</h2>
				<pre>{{delivery.customer.phone}}</pre>
				<pre>Return Cans {{delivery.customer.returnCans}}</pre>
				<pre>Payment type {{delivery.paymentType}}</pre>
				<pre style="color:#8B4513; font-weight: bold!important;">Amount collected ₹ {{delivery.amount}}</pre>
				<pre>Wallet Bottle Count {{delivery.customer.walletBottles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.deliveryType}}</small>
			</div>
			<div class="item  item-text-wrap">
				<h2>Delivery No. EZD00{{delivery.id}}</h2>
				<h2>Vendor {{delivery.vendor.vendorName}}</h2>
				<!--<pre>Delivery Type: {{delivery.deliveryType}}</pre> <br>-->
				<pre style="color:#8B4513;">Delivered Time {{delivery.deliveredTime}}</pre>
				<pre>Bottles Delivered {{delivery.noOfBotlles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.status}}</small>
			</div>
			<div class="item item-divider custom-divider">
				<h2> Delivery Address </h2>
				<pre>{{delivery.address.name}}</pre>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre><br>
				<small>Click to call <b>{{delivery.address.name}}</b></small> <br>
				<pre><a ng-href="tel:+91{{delivery.address.phone}}" target="_blank" style="text-decoration:none;color:#8B4513!important">{{delivery.address.phone}}</a></pre>
			</div>
		</div>

		<div ng-if="showCancelledCard" class="card" ng-repeat="delivery in cancelled" ng-click="userDetail(delivery)">
			<div class="item item-text-wrap">
				<h2>{{delivery.customer.firstname}}</h2>
				<pre>{{delivery.customer.phone}}</pre>
				<pre>Return Cans {{delivery.customer.returnCans}}</pre>
				<pre>Payment type {{delivery.paymentType}}</pre>
				<pre style="color:#8B4513; font-weight: bold!important;">Amount collected ₹ {{delivery.amount}}</pre>
				<pre>Wallet Bottle Count {{delivery.customer.walletBottles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.deliveryType}}</small>
			</div>
			<div class="item  item-text-wrap">
				<h2>Delivery No. EZD00{{delivery.id}}</h2>
				<h2>Vendor {{delivery.vendor.vendorName}}</h2>
				<!--<pre>Delivery Type: {{delivery.deliveryType}}</pre> <br>-->
				<pre style="color:#8B4513;">Delivered Time {{delivery.deliveredTime}}</pre>
				<pre>Bottles Delivered {{delivery.noOfBotlles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.status}}</small>
			</div>
			<div class="item item-divider custom-divider">
				<h2> Delivery Address </h2>
				<pre>{{delivery.address.name}}</pre>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre><br>
				<small>Click to call <b>{{delivery.address.name}}</b></small> <br>
				<pre><a ng-href="tel:+91{{delivery.address.phone}}" target="_blank" style="text-decoration:none;color:#8B4513!important">{{delivery.address.phone}}</a></pre>
			</div>
		</div>
	</ion-content>
</ion-view>