<ion-view view-title="EazyDelivery" style="font-size: 1.2em!important;">
	<ion-nav-bar class="bar-stable bar-home" ng-show="!showSearch">
		<ion-nav-buttons>
            <button class="button button-clear" ng-click="search()"><i class="ion-search" style="color:aliceblue; font-size: 30px;"></i></button>
     	</ion-nav-buttons>
		<ion-nav-buttons class="buttons" side="right">
            <button class="button button-clear" ng-click="showProfile()"><i class="ion-person" style="color:aliceblue; font-size: 30px;"></i></button>
     	</ion-nav-buttons>
	</ion-nav-bar>
	 <div class="bar bar-stable bar-home bar-header item-input-inset" ng-if="showSearch">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search Deliveries" ng-model="searchItem.item">
      </label>
      <div class="button-clear">
        <button class="button button-clear" ng-click="search()">
          Cancel
        </button>
      </div>
    </div>
	<ion-content>
		<ion-refresher on-refresh="doRefresh()">
		</ion-refresher>
		<div class="card" ng-repeat="delivery in deliveries | filter: searchItem.item" ng-click="userDetail(delivery)">
			<div class="item item-text-wrap">
				<h2>{{delivery.customer.firstname}}</h2>
				<pre>{{delivery.customer.phone}}</pre>
				<pre>Return Cans {{delivery.customer.returnCans}}</pre>
				<pre>Payment type {{delivery.paymentType}}</pre>
				<pre style="color:#8B4513; font-weight: bold!important;">Amount to be collected ₹ {{delivery.amount}}</pre>
				<pre>Wallet Bottle Count {{delivery.customer.walletBottles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.deliveryType}}</small>
			</div>
			<div class="item  item-text-wrap" ng-click="update(delivery.id, delivery.noOfBotlles, delivery.customer.returnCans)">
				<h2>Delivery No. EZD-{{delivery.id}}</h2>
				<h2>Vendor {{delivery.vendor.vendorName}}</h2>
				<!--<pre>Delivery Type: {{delivery.deliveryType}}</pre> <br>-->
				<pre style="color:#8B4513;">Delivery Time Within {{delivery.deliveryWithin}}</pre>
				<pre>No. of Bottles Requested {{delivery.noOfBotlles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">UPDATE</small>
			</div>
			<div class="item item-divider custom-divider">
				<h2> Delivery Address </h2>
				<pre>{{delivery.address.name}}</pre>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre><br>
				<small>Click to call <b>{{delivery.address.name}}</b></small> <br>
				<pre><a ng-href="tel:+91{{delivery.address.phone}}" target="_blank" style="text-decoration:none;color:#8B4513!important">{{delivery.address.phone}}</a></pre>
				<button class="button-clear" ng-click="launchNavigator(+delivery.address.lat, +delivery.address.lng)"> <i class="ion-ios-navigate" style="font-size: 44px; position: absolute; top: 0px; right: 4px; color:#8B4513;"></i></button>
			</div>
		</div>
		<!--for search-->
		<div ng-if="!(!searchItem.item || searchItem.item == '')" class="card" ng-repeat="delivery in allDeliveries[1] | filter: searchItem.item" ng-click="userDetail(delivery)">
			<div class="item item-text-wrap">
				<h2>{{delivery.customer.firstname}}</h2>
				<pre>{{delivery.customer.phone}}</pre>
				<pre>Return Cans {{delivery.customer.returnCans}}</pre>
				<pre>Payment type {{delivery.paymentType}}</pre>
				<pre style="color:#8B4513; font-weight: bold!important;">Amount collected ₹ {{delivery.amount}}</pre>
				<pre>Wallet Bottle Count {{delivery.customer.walletBottles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.deliveryType}}</small>
			</div>
			<div class="item  item-text-wrap">
				<h2>Delivery No. EZD-{{delivery.id}}</h2>
				<h2>Vendor {{delivery.vendor.vendorName}}</h2>
				<!--<pre>Delivery Type: {{delivery.deliveryType}}</pre> <br>-->
				<pre style="color:#8B4513;">Delivered Time {{delivery.deliveredTime}}</pre>
				<pre>Bottles Delivered {{delivery.noOfBotlles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.status}}</small>
			</div>
			<div class="item item-divider custom-divider">
				<h2> Delivery Address </h2>
				<pre>{{delivery.address.name}}</pre>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre><br>
				<small>Click to call <b>{{delivery.address.name}}</b></small> <br>
				<pre><a ng-href="tel:+91{{delivery.address.phone}}" target="_blank" style="text-decoration:none;color:#8B4513!important">{{delivery.address.phone}}</a></pre>
			</div>
		</div>
		<div ng-if="!(!searchItem.item || searchItem.item == '')" class="card" ng-repeat="delivery in allDeliveries[2] | filter: searchItem.item" ng-click="userDetail(delivery)">
			<div class="item item-text-wrap">
				<h2>{{delivery.customer.firstname}}</h2>
				<pre>{{delivery.customer.phone}}</pre>
				<pre>Return Cans {{delivery.customer.returnCans}}</pre>
				<pre>Payment type {{delivery.paymentType}}</pre>
				<pre style="color:#8B4513; font-weight: bold!important;">Amount to be collected ₹ {{delivery.amount}}</pre>
				<pre>Wallet Bottle Count {{delivery.customer.walletBottles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">{{delivery.deliveryType}}</small>
			</div>
			<div class="item  item-text-wrap" ng-click="update(delivery.id, delivery.noOfBotlles)">
				<h2>Delivery No. EZD00{{delivery.id}}</h2>
				<h2>Vendor {{delivery.vendor.vendorName}}</h2>
				<!--<pre>Delivery Type: {{delivery.deliveryType}}</pre> <br>-->
				<pre style="color:#8B4513;">Delivery Time Within {{delivery.deliveryWithin}}</pre>
				<pre>No. of Bottles Requested {{delivery.noOfBotlles}}</pre>
				<small style="position:absolute; top:2px; right:4px; color:#8B4513;">UPDATE</small>
			</div>
			<div class="item item-divider custom-divider">
				<h2> Delivery Address </h2>
				<pre>{{delivery.address.name}}</pre>
				<pre>{{delivery.address.streetAddress}}</pre>
				<pre>{{delivery.address.locality}}</pre><br>
				<small>Click to call <b>{{delivery.address.name}}</b></small> <br>
				<pre><a ng-href="tel:+91{{delivery.address.phone}}" target="_blank" style="text-decoration:none;color:#8B4513!important">{{delivery.address.phone}}</a></pre>
				<button class="button-clear" ng-click="launchNavigator(+delivery.address.lat, +delivery.address.lng)"> <i class="ion-ios-navigate" style="font-size: 44px; position: absolute; top: 0px; right: 4px; color:#8B4513;"></i></button>
			</div>
		</div>
	</ion-content>
</ion-view>

