<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active" ng-controller="TabsCtrl">

  <!-- Deliveries Tab -->
  <ion-tab title="Delivery" icon-off="icon-auto-delivery" icon-on="icon-auto-delivery" href="#/tab/dash" badge="deliveriesLength">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Completed Tab -->
  <ion-tab title="Completed" icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" href="#/tab/complete" badge="completedLength">
    <ion-nav-view name="tab-complete"></ion-nav-view>
  </ion-tab>

  <!-- Upcoming Tab -->
  <ion-tab title="Upcoming" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/upcoming" badge="upcomingLength">
    <ion-nav-view name="tab-upcoming"></ion-nav-view>
  </ion-tab>


</ion-tabs>
