<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta http-equiv="Content-Security-Policy" content="script-src 'self' https://maps.googleapis.com/ https://maps.gstatic.com/ https://mts0.googleapis.com/ https://maps.google.com/ 'unsafe-inline' 'unsafe-eval'">
	<title></title>

	<link rel="manifest" href="manifest.json">

	<!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->
	<!--<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">-->
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
	<link href="lib/css/ionic.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/styles-icon.css" rel="stylesheet">

	<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

	<!-- ionic/angularjs js -->
	<!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->
	<script src="lib/ionic.bundle.min.js"></script>
	<script src="lib/ionic.cloud.min.js"></script>

	<!--replace below file with minified version for release build-->
	<!--<script src="lib/ngCordova/dist/ng-cordova.js"></script>-->
	<script src="lib/ng-cordova.min.js"></script>
	<!-- cordova script (this will be a 404 during development) -->
	<script src="cordova.js"></script>
	<!--A factory to preload images-->
	<script src="lib/ionic.ion.imagecachefactory.js"></script>

	<!-- your app's js -->
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	<script src="js/constants.js"></script>

	<script src="lib/ionic-close-popup/ionic-close-popup.js"></script>
	<!--google map-->
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCYcDVmtuHQPcGvh0SnP-PFu8OcIM4NG1E"></script>
</head>

<body ng-app="eazydelivery" class="ng-cloak platform-android platform-cordova platform-webview">
	<ion-nav-view></ion-nav-view>
	<div class="card card-slideinup slideInUp" ng-if="showCard">Oh, lost the Internet!</div>
</body>

</html>
